#cause-of-fail{
    min-height: 500px;
    width: 100%;
    padding: 50px;

    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1000px;
        width: 100%;

        .title-desc{
            max-width: 500px;
            margin: 15px;
            .title{
                h2{
                    font-size: calc(.8vw + 1rem);
                }
            }

            .list-desc{
                .list{
                    display: flex;
                    margin-bottom: 5px;
                    align-items: center;

                    svg{
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 15px;
                    }
                    p{
                        margin: auto;
                        font-size: calc(.2vw + .8rem);
                    }
                }
            }
        }
        .pict-desc{
            margin: 15px;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pict{
                max-width: 250px;
                img{
                    border-radius: 250px 250px 0 0;
                    width: 100%;
                }
            }

            .desc{
                max-width: 250px;
                p{
                    font-size: calc(.3vw + .8rem);
                }
            }
        }
    }
}