@import "../variables";

@media screen and (max-width: 1050px) {
    #warning-scam{
        min-height: 500px;
        width: 100%;
        padding: 25px;
        
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .title{
                margin-bottom: 5px;
            }

            .warning-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .desc-pict{
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    max-width: none;
                    width: 100%;

                    p{
                        text-align: center;
                    }

                    .pict{
                        position: static;
                        margin-top: 0;
                        margin-right: 0;
                        max-width: none;
                        padding: 5px;
                        width: 100%;
                        img{
                            border: 5px solid $primary;
                            border-radius: 5px;
                            width: 100%;
                        }
                    }
                }
                .just-pict{
                    margin: 5px;
                    .pict{
                        max-width: none;
                        width: 100%;
                        img{
                            border: 5px solid $primary;
                            border-radius: 5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    @import "../variables";

#core-value{
    .container{
        .content-value{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .card-content{
                margin: 20px auto;
                border-radius: 15px;
                box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 1);
                background-color: whitesmoke;
                max-width: none;
                width: 100%;
                min-height: 350px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
            }
        }
    }
}
}

@media screen and (max-width: 550px) {
    #cause-of-fail{
    min-height: 500px;
    width: 100%;
    padding: 50px;

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        max-width: none;
        width: 100%;

        .title-desc{
            max-width: none;
            width: 100%;
            margin: 15px;
            .title{
                h2{
                    font-size: calc(.8vw + 1rem);
                }
            }

            .list-desc{
                .list{
                    display: flex;
                    margin-bottom: 5px;
                    align-items: center;

                    svg{
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 15px;
                    }
                    p{
                        margin: auto;
                        font-size: calc(.2vw + .8rem);
                    }
                }
            }
        }
        .pict-desc{
            margin: 15px;
            max-width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pict{
                max-width: 150px;
                img{
                    border-radius: 250px 250px 0 0;
                    width: 100%;
                }
            }

            .desc{
                max-width: 150px;
                p{
                    font-size: calc(.3vw + .8rem);
                }
            }
        }
    }
}
}